/* line 6, ../../app/assets/stylesheets/cheatsheets.css.scss */
.list_item {
  padding-top: 30px;
}

/* line 10, ../../app/assets/stylesheets/cheatsheets.css.scss */
.thumb_list {
  padding: 10px 0 0 10px;
}

/* line 14, ../../app/assets/stylesheets/cheatsheets.css.scss */
.text_center {
  text-align: center;
}

/* line 18, ../../app/assets/stylesheets/cheatsheets.css.scss */
.text_left {
  text-align: left;
}

/* line 22, ../../app/assets/stylesheets/cheatsheets.css.scss */
.text_right {
  text-align: right;
}
