.container
  .row
    .span8.offset4
      %h1 All Cheatsheets
  .row
    .span8.offset4
      %p Organize and see your cheatsheets

  .row
    .span4.offset8
      = link_to(image_tag("twitter-connect"),"/auth/twitter")
      Or
      = link_to(image_tag("facebook-login-button"),"/auth/facebook")

