- @cheatsheets.each do |cs|
  .row
    .span2
      = link_to "Del" , cheatsheet_path(cs) , :method => :delete
    .span4
      = image_tag cs.image.small.url , :class => 'thumbmail'
    .span4
      = cs.name
    .span6
      Tags:
      - cs.tags.each do |tag|
        = link_to tag , cheatsheets_path(:tag => tag)

