// Place all the styles related to the cheatsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list_item{
 padding-top: 30px;
}

.thumb_list{
  padding: 10px 0 0 10px;
}

.text_center{
  text-align: center;
}

.text_left{
  text-align: left;
}

.text_right{
  text-align: right;
}

